<div class="row">
	<div class="col s3">
		<div clas="row">
			{{input type="text" value=filterText placeholder=textPlaceHolder enter="clickItem" maxlength=50 minlength=threshold}}
		</div>
	
		<div class="row">
		   	<ul class="collection">
				{{#each listFiltered as |item|}}
					<li class="collection-item">
						<span {{action "clickItem" item}}>{{item.label}}</span>
						
						{{#if showArrows}}
						<span {{action "upItem" item}} class="material-icons">thumb_up</span>
						<span {{action "downItem" item}} class="material-icons">thumb_down</span>
						{{/if}}
					</li>
				{{/each}}
			</ul>
		</div>
	</div>

	<div class="col s3">
		<div clas="row">
			{{input type="text" value=filterTextSelect placeholder=textPlaceHolder enter="clickItemSelected" maxlength=50 minlength=threshold}}
		</div>
	
		<div class="row">
		   	<ul class="collection">
				{{#each listFilteredSelected as |item|}}
					<li class="collection-item">
						<span {{action "clickItem" item}}>{{item.label}}</span>
						
						{{#if showArrows}}
						<span {{action "upItem" item}} class="material-icons">thumb_up</span>
						<span {{action "downItem" item}} class="material-icons">thumb_down</span>
						{{/if}}
					</li>
				{{/each}}
			</ul>
		</div>
	</div>
</div>