<div class="container">
    <div class="row">
        <div class="col m6">
            <h2 class="center-align">Login</h2>
            <div class="row">
                <form class="col s12" {{action 'authenticate' on='submit'}}>
                    <div class="row">
                        <div class="input-field col s12">
                            {{input id='identification' placeholder='Enter Login' class='form-control' value=identification}}
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {{input id='password' placeholder='Enter Password' class='form-control' type='password' value=password}}
                            <label for="pass">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p>
                                <input type="checkbox" id="remember">
                                <label for="remember">Recordarme</label>
                            </p>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="row">
                        <div class="col m12">
                            <p class="right-align">
                                <button class="btn btn-large waves-effect waves-light" type="submit">Login</button>
                            </p>
                        </div>
                    </div>

                    <div class="row">
                      {{#if errorMessage}}
                        <i class="mdi-alert-error"></i>
                        {{errorMessage}}
                        {{errorDescription}}
                      {{/if}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
